.dashboard-table-container {
  & .dashboard-table-header {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-bottom: 10px;
  }

  & .dashboard-table-body {
    .ant-table {
      & .ant-table-thead {
        & .ant-table-cell {
          font-family: Inter !important;
          font-size: 12px !important;
          font-weight: 400 !important;
          line-height: 18px !important;
          text-align: left !important;

          border-bottom: none !important;
        }
      }
      & .ant-table-tbody {
        font-family: Inter !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 18px !important;
        text-align: left !important;

        & .ant-table-cell {
          border-bottom: none !important;
        }
      }
    }
  }
}
