.activities-list {
  padding: 20px 0 10px;
  & .activities-header {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0;
    padding-left: 6px;
    padding-bottom: 10px;
  }

  & .activities-item {
    display: flex;
    padding: 5px;
    position: relative;

    & .activities-icon {
      margin-right: 8px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 11px;
        bottom: -7px;
        height: 14px;
        width: 1px;
      }
    }
    & .activities-content {
      line-height: 14px;
      & .activities-text {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 198px;
      }
      & .activities-time {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
      }
    }
    &:last-child {
      & .activities-icon::after {
        display: none;
      }
    }
  }
}
